extensions/Exporters/FacebookExport/Mono.Facebook/facebook.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://api.facebook.com/1.0/" xmlns="http://api.facebook.com/1.0/" elementFormDefault="qualified">

<!-- Yo yo yo, this XSD woz be generated by Thrift. -->

<xsd:simpleType name="FacebookApiErrorCode">
  <xsd:restriction base="xsd:int" />
</xsd:simpleType>

<xsd:simpleType name="aid">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="pid">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="eid">
  <xsd:restriction base="xsd:long" />
</xsd:simpleType>

<xsd:simpleType name="gid">
  <xsd:restriction base="xsd:long" />
</xsd:simpleType>

<xsd:simpleType name="nid">
  <xsd:restriction base="xsd:int" />
</xsd:simpleType>

<xsd:simpleType name="hsid">
  <xsd:restriction base="xsd:int" />
</xsd:simpleType>

<xsd:simpleType name="uid">
  <xsd:restriction base="xsd:long" />
</xsd:simpleType>

<xsd:simpleType name="flid">
  <xsd:restriction base="xsd:long" />
</xsd:simpleType>

<xsd:simpleType name="id">
  <xsd:restriction base="xsd:long" />
</xsd:simpleType>

<xsd:simpleType name="fbid">
  <xsd:restriction base="xsd:long" />
</xsd:simpleType>

<xsd:simpleType name="page_id">
  <xsd:restriction base="xsd:long" />
</xsd:simpleType>

<xsd:simpleType name="tbid">
  <xsd:restriction base="xsd:long" />
</xsd:simpleType>

<xsd:simpleType name="note_id">
  <xsd:restriction base="xsd:long" />
</xsd:simpleType>

<xsd:simpleType name="thread_id">
  <xsd:restriction base="xsd:long" />
</xsd:simpleType>

<xsd:simpleType name="message_id">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="status_id">
  <xsd:restriction base="xsd:long" />
</xsd:simpleType>

<xsd:simpleType name="post_id">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="share_id">
  <xsd:restriction base="xsd:long" />
</xsd:simpleType>

<xsd:simpleType name="link_id">
  <xsd:restriction base="xsd:long" />
</xsd:simpleType>

<xsd:simpleType name="vid">
  <xsd:restriction base="xsd:long" />
</xsd:simpleType>

<xsd:simpleType name="old_id_list">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="aid_list">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="pid_list">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="gid_list">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="eid_list">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="uid_list">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="field_list">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="tag_list">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="lid_list">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="pageid_list">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="id_list">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="time">
  <xsd:restriction base="xsd:long" />
</xsd:simpleType>

<xsd:simpleType name="date">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="year">
  <xsd:restriction base="xsd:int" />
</xsd:simpleType>

<xsd:simpleType name="auth_token">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="session_key">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="session_secret">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="friend_link">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="member_type">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="old_id">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="xid">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="comment_id">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="json_string">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="concentration">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="sex">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="seeking">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="one_line_story_template">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:complexType name="user_status">
  <xsd:sequence>
    <xsd:element name="message" type="xsd:string" />
    <xsd:element name="time" type="time" />
    <xsd:element name="status_id" type="status_id" />
    <xsd:element name="source" type="xsd:string" />
    <xsd:element name="uid" type="uid" />
    <xsd:element name="comment_count" type="xsd:int" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="comment">
  <xsd:sequence>
    <xsd:element name="xid" type="xid" />
    <xsd:element name="fromid" type="uid" />
    <xsd:element name="time" type="time" />
    <xsd:element name="text" type="xsd:string" />
    <xsd:element name="id" type="comment_id" />
    <xsd:element name="username" type="xsd:string" />
    <xsd:element name="reply_xid" type="xid" />
    <xsd:element name="post_id" type="xsd:string" />
    <xsd:element name="app_id" type="xsd:long" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="comments_info">
  <xsd:sequence>
    <xsd:element name="app_id" type="xsd:long" />
    <xsd:element name="xid" type="xid" />
    <xsd:element name="updated_time" type="time" />
    <xsd:element name="count" type="xsd:int" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="profile">
  <xsd:sequence>
    <xsd:element name="id" type="xsd:long" />
    <xsd:element name="url" type="xsd:string" />
    <xsd:element name="name" type="xsd:string" />
    <xsd:element name="pic_square" type="xsd:string" />
    <xsd:element name="type" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="id_map">
  <xsd:sequence>
    <xsd:element name="old_id" type="old_id" />
    <xsd:element name="new_id" type="id" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="arg">
  <xsd:sequence>
    <xsd:element name="key" type="xsd:string" />
    <xsd:element name="value" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="FacebookApiException">
  <xsd:sequence>
    <xsd:element name="error_code" type="FacebookApiErrorCode" />
    <xsd:element name="error_msg" type="xsd:string" />
    <xsd:element name="request_args">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="arg" type="arg" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="error_data" type="json_string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="session_info">
  <xsd:sequence>
    <xsd:element name="session_key" type="session_key" />
    <xsd:element name="uid" type="uid" />
    <xsd:element name="expires" type="xsd:int" />
    <xsd:element name="secret" type="xsd:string" minOccurs="0" />
    <xsd:element name="base_domain" type="xsd:string" minOccurs="0" />
    <xsd:element name="access_token" type="xsd:string" minOccurs="0" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="public_session_data">
  <xsd:sequence>
    <xsd:element name="uid" type="uid" />
    <xsd:element name="api_key" type="xsd:string" />
    <xsd:element name="expires" type="xsd:int" />
    <xsd:element name="sig" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="location">
  <xsd:sequence>
    <xsd:element name="street" type="xsd:string" minOccurs="0" />
    <xsd:element name="city" type="xsd:string" />
    <xsd:element name="state" type="xsd:string" />
    <xsd:element name="country" type="xsd:string" />
    <xsd:element name="zip" type="xsd:string" minOccurs="0" />
    <xsd:element name="latitude" type="xsd:decimal" minOccurs="0" />
    <xsd:element name="longitude" type="xsd:decimal" minOccurs="0" />
    <xsd:element name="id" type="xsd:long" minOccurs="0" />
    <xsd:element name="name" type="xsd:string" minOccurs="0" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="connect_account_info">
  <xsd:sequence>
    <xsd:element name="email_hash" type="xsd:string" />
    <xsd:element name="account_id" type="xsd:string" minOccurs="0" />
    <xsd:element name="account_url" type="xsd:string" minOccurs="0" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="event">
  <xsd:sequence>
    <xsd:element name="eid" type="eid" />
    <xsd:element name="name" type="xsd:string" />
    <xsd:element name="tagline" type="xsd:string" />
    <xsd:element name="nid" type="nid" />
    <xsd:element name="pic" type="xsd:string" />
    <xsd:element name="pic_big" type="xsd:string" />
    <xsd:element name="pic_small" type="xsd:string" />
    <xsd:element name="host" type="xsd:string" />
    <xsd:element name="description" type="xsd:string" />
    <xsd:element name="event_type" type="xsd:string" />
    <xsd:element name="event_subtype" type="xsd:string" />
    <xsd:element name="start_time" type="time" />
    <xsd:element name="end_time" type="time" />
    <xsd:element name="creator" type="id" nillable="true" />
    <xsd:element name="update_time" type="time" />
    <xsd:element name="location" type="xsd:string" />
    <xsd:element name="venue" type="location" />
    <xsd:element name="privacy" type="xsd:string" />
    <xsd:element name="hide_guest_list" type="xsd:boolean" />
    <xsd:element name="show_in_search" type="xsd:boolean" />
    <xsd:element name="show_wall" type="xsd:boolean" />
    <xsd:element name="show_videos" type="xsd:boolean" />
    <xsd:element name="show_photos" type="xsd:boolean" />
    <xsd:element name="show_posts" type="xsd:boolean" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="event_member">
  <xsd:sequence>
    <xsd:element name="uid" type="uid" />
    <xsd:element name="oid" type="eid" />
    <xsd:element name="attending" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="group">
  <xsd:sequence>
    <xsd:element name="gid" type="gid" />
    <xsd:element name="name" type="xsd:string" />
    <xsd:element name="nid" type="nid" />
    <xsd:element name="description" type="xsd:string" />
    <xsd:element name="group_type" type="xsd:string" />
    <xsd:element name="group_subtype" type="xsd:string" />
    <xsd:element name="recent_news" type="xsd:string" />
    <xsd:element name="pic" type="xsd:string" />
    <xsd:element name="pic_big" type="xsd:string" />
    <xsd:element name="pic_small" type="xsd:string" />
    <xsd:element name="creator" type="uid" nillable="true" />
    <xsd:element name="update_time" type="time" />
    <xsd:element name="office" type="xsd:string" />
    <xsd:element name="website" type="xsd:string" />
    <xsd:element name="venue" type="location" />
    <xsd:element name="privacy" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="group_member">
  <xsd:sequence>
    <xsd:element name="uid" type="uid" />
    <xsd:element name="gid" type="gid" />
    <xsd:element name="positions">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="member_type" type="member_type" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="group_members">
  <xsd:sequence>
    <xsd:element name="members">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="uid" type="uid" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="admins">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="uid" type="uid" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="officers">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="uid" type="uid" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="not_replied">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="uid" type="uid" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="event_members">
  <xsd:sequence>
    <xsd:element name="attending">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="uid" type="uid" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="unsure">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="uid" type="uid" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="declined">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="uid" type="uid" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="not_replied">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="uid" type="uid" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="notification_count">
  <xsd:sequence>
    <xsd:element name="unread" type="xsd:int" />
    <xsd:element name="most_recent" type="time" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="notifications">
  <xsd:sequence>
    <xsd:element name="messages" type="notification_count" />
    <xsd:element name="pokes" type="notification_count" />
    <xsd:element name="shares" type="notification_count" />
    <xsd:element name="friend_requests">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="uid" type="uid" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="group_invites">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="gid" type="gid" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="event_invites">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="eid" type="eid" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="notification">
  <xsd:sequence>
    <xsd:element name="notification_id" type="id" />
    <xsd:element name="sender_id" type="uid" />
    <xsd:element name="recipient_id" type="uid" />
    <xsd:element name="created_time" type="time" />
    <xsd:element name="updated_time" type="time" />
    <xsd:element name="title_html" type="xsd:string" />
    <xsd:element name="title_text" type="xsd:string" />
    <xsd:element name="body_html" type="xsd:string" />
    <xsd:element name="body_text" type="xsd:string" />
    <xsd:element name="href" type="xsd:string" />
    <xsd:element name="app_id" type="id" />
    <xsd:element name="is_unread" type="xsd:int" />
    <xsd:element name="is_hidden" type="xsd:int" />
    <xsd:element name="object_id" type="xsd:string" />
    <xsd:element name="object_type" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="photo">
  <xsd:sequence>
    <xsd:element name="pid" type="pid" />
    <xsd:element name="aid" type="aid" />
    <xsd:element name="owner" type="uid" />
    <xsd:element name="src" type="xsd:string" />
    <xsd:element name="src_big" type="xsd:string" />
    <xsd:element name="src_small" type="xsd:string" />
    <xsd:element name="link" type="xsd:string" />
    <xsd:element name="caption" type="xsd:string" />
    <xsd:element name="created" type="time" />
    <xsd:element name="story_fbid" type="id" />
    <xsd:element name="modified" type="time" />
    <xsd:element name="object_id" type="xsd:long" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="photo_tag">
  <xsd:sequence>
    <xsd:element name="pid" type="pid" />
    <xsd:element name="subject" type="uid" minOccurs="0" />
    <xsd:element name="text" type="xsd:string" minOccurs="0" />
    <xsd:element name="xcoord" type="xsd:decimal" />
    <xsd:element name="ycoord" type="xsd:decimal" />
    <xsd:element name="created" type="time" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="album">
  <xsd:sequence>
    <xsd:element name="aid" type="aid" />
    <xsd:element name="cover_pid" type="pid" />
    <xsd:element name="owner" type="uid" />
    <xsd:element name="name" type="xsd:string" />
    <xsd:element name="created" type="time" />
    <xsd:element name="modified" type="time" />
    <xsd:element name="description" type="xsd:string" />
    <xsd:element name="location" type="xsd:string" />
    <xsd:element name="link" type="xsd:string" />
    <xsd:element name="size" type="xsd:int" />
    <xsd:element name="visible" type="xsd:string" />
    <xsd:element name="modified_major" type="time" />
    <xsd:element name="type" type="xsd:string" />
    <xsd:element name="object_id" type="xsd:long" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="video">
  <xsd:sequence>
    <xsd:element name="vid" type="vid" />
    <xsd:element name="title" type="xsd:string" />
    <xsd:element name="description" type="xsd:string" />
    <xsd:element name="link" type="xsd:string" />
    <xsd:element name="owner" type="uid" />
    <xsd:element name="thumbnail_link" type="xsd:string" />
    <xsd:element name="embed_html" type="xsd:string" />
    <xsd:element name="created_time" type="time" />
    <xsd:element name="updated_time" type="time" />
    <xsd:element name="length" type="xsd:int" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="video_tag">
  <xsd:sequence>
    <xsd:element name="vid" type="vid" />
    <xsd:element name="subject" type="uid" />
    <xsd:element name="created_time" type="time" />
    <xsd:element name="updated_time" type="time" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="video_limits">
  <xsd:sequence>
    <xsd:element name="length" type="xsd:int" />
    <xsd:element name="size" type="xsd:long" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="affiliation">
  <xsd:sequence>
    <xsd:element name="nid" type="nid" />
    <xsd:element name="name" type="xsd:string" />
    <xsd:element name="type" type="xsd:string" />
    <xsd:element name="status" type="xsd:string" />
    <xsd:element name="year" type="year" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="hs_info">
  <xsd:sequence>
    <xsd:element name="hs1_name" type="xsd:string" />
    <xsd:element name="hs2_name" type="xsd:string" />
    <xsd:element name="grad_year" type="year" />
    <xsd:element name="hs1_id" type="hsid" />
    <xsd:element name="hs2_id" type="hsid" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="education_info">
  <xsd:sequence>
    <xsd:element name="name" type="xsd:string" />
    <xsd:element name="year" type="year" />
    <xsd:element name="concentrations">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="concentration" type="concentration" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="degree" type="xsd:string" />
    <xsd:element name="school_type" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="work_info">
  <xsd:sequence>
    <xsd:element name="location" type="location" />
    <xsd:element name="company_name" type="xsd:string" />
    <xsd:element name="position" type="xsd:string" />
    <xsd:element name="description" type="xsd:string" />
    <xsd:element name="start_date" type="date" />
    <xsd:element name="end_date" type="date" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="family_info">
  <xsd:sequence>
    <xsd:element name="relationship" type="xsd:string" />
    <xsd:element name="uid" type="uid" nillable="true" />
    <xsd:element name="name" type="xsd:string" nillable="true" />
    <xsd:element name="birthday" type="xsd:string" nillable="true" />
    <xsd:element name="profile_id" type="uid" nillable="true" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="user">
  <xsd:all>
    <xsd:element name="about_me" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="activities" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="affiliations" minOccurs="0">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="affiliation" type="affiliation" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="birthday" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="books" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="current_location" type="location" minOccurs="0" nillable="true" />
    <xsd:element name="education_history" minOccurs="0" nillable="true">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="education_info" type="education_info" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="first_name" type="xsd:string" minOccurs="0" />
    <xsd:element name="hometown_location" type="location" minOccurs="0" nillable="true" />
    <xsd:element name="hs_info" type="hs_info" minOccurs="0" nillable="true" />
    <xsd:element name="interests" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="is_app_user" type="xsd:boolean" minOccurs="0" />
    <xsd:element name="last_name" type="xsd:string" minOccurs="0" />
    <xsd:element name="meeting_for" minOccurs="0" nillable="true">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="seeking" type="seeking" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="meeting_sex" minOccurs="0" nillable="true">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="sex" type="sex" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="movies" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="music" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="name" type="xsd:string" minOccurs="0" />
    <xsd:element name="notes_count" type="xsd:int" minOccurs="0" nillable="true" />
    <xsd:element name="pic" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="pic_big" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="pic_small" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="political" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="profile_update_time" type="time" minOccurs="0" nillable="true" />
    <xsd:element name="quotes" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="relationship_status" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="religion" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="sex" type="sex" minOccurs="0" nillable="true" />
    <xsd:element name="significant_other_id" type="uid" minOccurs="0" nillable="true" />
    <xsd:element name="status" type="user_status" minOccurs="0" nillable="true" />
    <xsd:element name="timezone" type="xsd:decimal" minOccurs="0" nillable="true" />
    <xsd:element name="tv" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="uid" type="uid" minOccurs="0" />
    <xsd:element name="wall_count" type="xsd:int" minOccurs="0" nillable="true" />
    <xsd:element name="work_history" minOccurs="0" nillable="true">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="work_info" type="work_info" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="pic_square" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="has_added_app" type="xsd:boolean" minOccurs="0" nillable="true" />
    <xsd:element name="email_hashes" minOccurs="0" nillable="true">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="email_hashes_elt" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="locale" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="family" minOccurs="0">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="family_info" type="family_info" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="are_friends" type="xsd:boolean" minOccurs="0" />
    <xsd:element name="can_see_profile" type="xsd:boolean" minOccurs="0" nillable="true" />
    <xsd:element name="profile_url" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="username" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="proxied_email" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="pic_large" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="pic_big_with_logo" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="pic_small_with_logo" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="pic_square_with_logo" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="pic_with_logo" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="birthday_date" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="online_presence" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="website" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="is_blocked" type="xsd:boolean" minOccurs="0" nillable="true" />
  </xsd:all>
</xsd:complexType>

<xsd:complexType name="friend_info">
  <xsd:all>
    <xsd:element name="uid1" type="uid" minOccurs="0" />
    <xsd:element name="uid2" type="uid" minOccurs="0" />
    <xsd:element name="are_friends" type="xsd:boolean" minOccurs="0" nillable="true" />
  </xsd:all>
</xsd:complexType>

<xsd:complexType name="friendlist">
  <xsd:sequence>
    <xsd:element name="flid" type="flid" />
    <xsd:element name="name" type="xsd:string" />
    <xsd:element name="owner" type="uid" minOccurs="0" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="friendlist_member">
  <xsd:sequence>
    <xsd:element name="flid" type="flid" />
    <xsd:element name="uid" type="uid" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="object_type_info">
  <xsd:sequence>
    <xsd:element name="name" type="xsd:string" />
    <xsd:element name="object_class" type="xsd:int" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="object_property_info">
  <xsd:sequence>
    <xsd:element name="name" type="xsd:string" />
    <xsd:element name="data_type" type="xsd:int" />
    <xsd:element name="index_type" type="xsd:int" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="assoc_object_type">
  <xsd:sequence>
    <xsd:element name="alias" type="xsd:string" />
    <xsd:element name="object_type" type="xsd:string" />
    <xsd:element name="unique" type="xsd:boolean" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="object_assoc_info">
  <xsd:sequence>
    <xsd:element name="name" type="xsd:string" />
    <xsd:element name="assoc_type" type="xsd:int" />
    <xsd:element name="assoc_info1" type="assoc_object_type" />
    <xsd:element name="assoc_info2" type="assoc_object_type" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="object_association">
  <xsd:sequence>
    <xsd:element name="name" type="xsd:string" />
    <xsd:element name="id1" type="xsd:long" />
    <xsd:element name="id2" type="xsd:long" />
    <xsd:element name="data" type="xsd:string" />
    <xsd:element name="time" type="time" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="container">
  <xsd:sequence>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="preference">
  <xsd:sequence>
    <xsd:element name="pref_id" type="xsd:int" />
    <xsd:element name="value" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="page_hours">
  <xsd:sequence>
    <xsd:element name="mon_1_open" type="time" />
    <xsd:element name="mon_1_close" type="time" />
    <xsd:element name="tue_1_open" type="time" />
    <xsd:element name="tue_1_close" type="time" />
    <xsd:element name="wed_1_open" type="time" />
    <xsd:element name="thu_1_open" type="time" />
    <xsd:element name="thu_1_close" type="time" />
    <xsd:element name="fri_1_open" type="time" />
    <xsd:element name="fri_1_close" type="time" />
    <xsd:element name="sat_1_open" type="time" />
    <xsd:element name="sat_1_close" type="time" />
    <xsd:element name="sun_1_open" type="time" />
    <xsd:element name="sun_1_close" type="time" />
    <xsd:element name="mon_2_open" type="time" />
    <xsd:element name="mon_2_close" type="time" />
    <xsd:element name="tue_2_open" type="time" />
    <xsd:element name="tue_2_close" type="time" />
    <xsd:element name="wed_2_open" type="time" />
    <xsd:element name="wed_2_close" type="time" />
    <xsd:element name="thu_2_open" type="time" />
    <xsd:element name="thu_2_close" type="time" />
    <xsd:element name="fri_2_open" type="time" />
    <xsd:element name="fri_2_close" type="time" />
    <xsd:element name="sat_2_open" type="time" />
    <xsd:element name="sat_2_close" type="time" />
    <xsd:element name="sun_2_open" type="time" />
    <xsd:element name="sun_2_close" type="time" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="page_parking">
  <xsd:sequence>
    <xsd:element name="street" type="xsd:boolean" />
    <xsd:element name="lot" type="xsd:boolean" />
    <xsd:element name="valet" type="xsd:boolean" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="page_fan">
  <xsd:sequence>
    <xsd:element name="page_id" type="page_id" />
    <xsd:element name="uid" type="uid" />
    <xsd:element name="type" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="page_admin">
  <xsd:sequence>
    <xsd:element name="page_id" type="page_id" />
    <xsd:element name="uid" type="uid" />
    <xsd:element name="type" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="page_restaurant_services">
  <xsd:sequence>
    <xsd:element name="reserve" type="xsd:boolean" />
    <xsd:element name="walkins" type="xsd:boolean" />
    <xsd:element name="groups" type="xsd:boolean" />
    <xsd:element name="kids" type="xsd:boolean" />
    <xsd:element name="takeout" type="xsd:boolean" />
    <xsd:element name="delivery" type="xsd:boolean" />
    <xsd:element name="catering" type="xsd:boolean" />
    <xsd:element name="waiter" type="xsd:boolean" />
    <xsd:element name="outdoor" type="xsd:boolean" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="page_restaurant_specialties">
  <xsd:sequence>
    <xsd:element name="breakfast" type="xsd:boolean" />
    <xsd:element name="lunch" type="xsd:boolean" />
    <xsd:element name="dinner" type="xsd:boolean" />
    <xsd:element name="coffee" type="xsd:boolean" />
    <xsd:element name="drinks" type="xsd:boolean" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="page_payment_options">
  <xsd:sequence>
    <xsd:element name="cash_only" type="xsd:boolean" />
    <xsd:element name="visa" type="xsd:boolean" />
    <xsd:element name="amex" type="xsd:boolean" />
    <xsd:element name="mastercard" type="xsd:boolean" />
    <xsd:element name="discover" type="xsd:boolean" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="page">
  <xsd:all>
    <xsd:element name="page_id" type="page_id" minOccurs="0" />
    <xsd:element name="name" type="xsd:string" minOccurs="0" />
    <xsd:element name="pic_small" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="pic_big" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="pic_square" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="pic" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="pic_large" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="page_url" type="xsd:string" minOccurs="0" />
    <xsd:element name="status" type="user_status" minOccurs="0" nillable="true" />
    <xsd:element name="type" type="xsd:string" minOccurs="0" />
    <xsd:element name="website" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="has_added_app" type="xsd:boolean" minOccurs="0" nillable="true" />
    <xsd:element name="founded" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="company_overview" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="mission" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="products" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="location" type="location" minOccurs="0" nillable="true" />
    <xsd:element name="parking" type="page_parking" minOccurs="0" nillable="true" />
    <xsd:element name="public_transit" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="hours" type="page_hours" minOccurs="0" nillable="true" />
    <xsd:element name="attire" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="payment_options" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="culinary_team" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="general_manager" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="price_range" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="restaurant_services" type="page_restaurant_services" minOccurs="0" nillable="true" />
    <xsd:element name="restaurant_specialties" type="page_restaurant_specialties" minOccurs="0" nillable="true" />
    <xsd:element name="release_date" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="genre" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="starring" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="screenplay_by" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="directed_by" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="produced_by" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="studio" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="awards" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="plot_outline" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="network" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="season" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="schedule" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="written_by" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="band_members" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="hometown" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="current_location" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="record_label" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="booking_agent" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="artists_we_like" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="influences" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="band_interests" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="bio" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="affiliation" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="birthday" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="personal_info" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="personal_interests" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="members" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="built" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="features" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="mpg" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="general_info" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="username" type="xsd:string" minOccurs="0" nillable="true" />
  </xsd:all>
</xsd:complexType>

<xsd:complexType name="cookie">
  <xsd:sequence>
    <xsd:element name="uid" type="uid" />
    <xsd:element name="name" type="xsd:string" />
    <xsd:element name="value" type="xsd:string" />
    <xsd:element name="expires" type="xsd:int" />
    <xsd:element name="path" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="phrase">
  <xsd:sequence>
    <xsd:element name="description" type="xsd:string" />
    <xsd:element name="text" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="developer_info">
  <xsd:sequence>
    <xsd:element name="uid" type="xsd:int" />
    <xsd:element name="name" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="app_info">
  <xsd:sequence>
    <xsd:element name="app_id" type="xsd:long" />
    <xsd:element name="api_key" type="xsd:string" />
    <xsd:element name="canvas_name" type="xsd:string" />
    <xsd:element name="display_name" type="xsd:string" />
    <xsd:element name="icon_url" type="xsd:string" />
    <xsd:element name="logo_url" type="xsd:string" />
    <xsd:element name="developers">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="developer_info" type="developer_info" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="company_name" type="xsd:string" />
    <xsd:element name="description" type="xsd:string" />
    <xsd:element name="daily_active_users" type="xsd:int" />
    <xsd:element name="weekly_active_users" type="xsd:int" />
    <xsd:element name="monthly_active_users" type="xsd:int" />
    <xsd:element name="category" type="xsd:string" />
    <xsd:element name="subcategory" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="notification_data">
  <xsd:sequence>
    <xsd:element name="notifications">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="notification" type="notification" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="apps">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="app_info" type="app_info" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="note">
  <xsd:sequence>
    <xsd:element name="note_id" type="note_id" />
    <xsd:element name="title" type="xsd:string" />
    <xsd:element name="content" type="xsd:string" />
    <xsd:element name="created_time" type="time" />
    <xsd:element name="updated_time" type="time" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="link">
  <xsd:sequence>
    <xsd:element name="link_id" type="link_id" />
    <xsd:element name="owner" type="uid" />
    <xsd:element name="owner_comment" type="xsd:string" />
    <xsd:element name="created_time" type="time" />
    <xsd:element name="title" type="xsd:string" />
    <xsd:element name="summary" type="xsd:string" />
    <xsd:element name="url" type="xsd:string" />
    <xsd:element name="image_urls">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="image_urls_elt" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="metrics">
  <xsd:all>
    <xsd:element name="end_time" type="time" minOccurs="0" />
    <xsd:element name="active_users" type="xsd:int" minOccurs="0" />
    <xsd:element name="api_calls" type="xsd:int" minOccurs="0" />
    <xsd:element name="unique_api_calls" type="xsd:int" minOccurs="0" />
    <xsd:element name="canvas_page_views" type="xsd:int" minOccurs="0" />
    <xsd:element name="unique_canvas_page_views" type="xsd:int" minOccurs="0" />
    <xsd:element name="canvas_http_request_time_avg" type="xsd:int" minOccurs="0" />
    <xsd:element name="canvas_fbml_render_time_avg" type="xsd:int" minOccurs="0" />
    <xsd:element name="unique_adds" type="xsd:int" minOccurs="0" />
    <xsd:element name="unique_removes" type="xsd:int" minOccurs="0" />
    <xsd:element name="unique_blocks" type="xsd:int" minOccurs="0" />
    <xsd:element name="unique_unblocks" type="xsd:int" minOccurs="0" />
    <xsd:element name="canvas_page_views_http_code_0" type="xsd:int" minOccurs="0" />
    <xsd:element name="canvas_page_views_http_code_100" type="xsd:int" minOccurs="0" />
    <xsd:element name="canvas_page_views_http_code_200" type="xsd:int" minOccurs="0" />
    <xsd:element name="canvas_page_views_http_code_200ND" type="xsd:int" minOccurs="0" />
    <xsd:element name="canvas_page_views_http_code_301" type="xsd:int" minOccurs="0" />
    <xsd:element name="canvas_page_views_http_code_302" type="xsd:int" minOccurs="0" />
    <xsd:element name="canvas_page_views_http_code_303" type="xsd:int" minOccurs="0" />
    <xsd:element name="canvas_page_views_http_code_400" type="xsd:int" minOccurs="0" />
    <xsd:element name="canvas_page_views_http_code_401" type="xsd:int" minOccurs="0" />
    <xsd:element name="canvas_page_views_http_code_402" type="xsd:int" minOccurs="0" />
    <xsd:element name="canvas_page_views_http_code_403" type="xsd:int" minOccurs="0" />
    <xsd:element name="canvas_page_views_http_code_404" type="xsd:int" minOccurs="0" />
    <xsd:element name="canvas_page_views_http_code_405" type="xsd:int" minOccurs="0" />
    <xsd:element name="canvas_page_views_http_code_413" type="xsd:int" minOccurs="0" />
    <xsd:element name="canvas_page_views_http_code_422" type="xsd:int" minOccurs="0" />
    <xsd:element name="canvas_page_views_http_code_500" type="xsd:int" minOccurs="0" />
    <xsd:element name="canvas_page_views_http_code_502" type="xsd:int" minOccurs="0" />
    <xsd:element name="canvas_page_views_http_code_503" type="xsd:int" minOccurs="0" />
    <xsd:element name="canvas_page_views_http_code_505" type="xsd:int" minOccurs="0" />
    <xsd:element name="feedform_impression" type="xsd:int" minOccurs="0" />
    <xsd:element name="feedform_publish" type="xsd:int" minOccurs="0" />
  </xsd:all>
</xsd:complexType>

<xsd:complexType name="short_story_template">
  <xsd:sequence>
    <xsd:element name="template_title" type="xsd:string" />
    <xsd:element name="template_body" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="full_story_template">
  <xsd:sequence>
    <xsd:element name="template_title" type="xsd:string" />
    <xsd:element name="template_body" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="action_link">
  <xsd:sequence>
    <xsd:element name="text" type="xsd:string" />
    <xsd:element name="href" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="stream_action_link">
  <xsd:sequence>
    <xsd:element name="text" type="xsd:string" />
    <xsd:element name="href" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="template_bundle">
  <xsd:sequence>
    <xsd:element name="one_line_story_templates">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="one_line_story_template" type="one_line_story_template" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="short_story_templates">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="short_story_template" type="short_story_template" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="full_story_template" type="full_story_template" />
    <xsd:element name="action_links">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="stream_action_link" type="stream_action_link" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="time_created" type="time" />
    <xsd:element name="template_bundle_id" type="tbid" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="feed_story">
  <xsd:sequence>
    <xsd:element name="actor_id" type="uid" />
    <xsd:element name="post_id" type="post_id" />
    <xsd:element name="story_title" type="xsd:string" />
    <xsd:element name="story_body" type="xsd:string" minOccurs="0" />
    <xsd:element name="images" type="xsd:string" minOccurs="0" />
    <xsd:element name="flash" type="xsd:string" minOccurs="0" />
    <xsd:element name="mp3" type="xsd:string" minOccurs="0" />
    <xsd:element name="video" type="xsd:string" minOccurs="0" />
    <xsd:element name="time_published" type="time" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="info_item">
  <xsd:sequence>
    <xsd:element name="label" type="xsd:string" />
    <xsd:element name="sublabel" type="xsd:string" />
    <xsd:element name="description" type="xsd:string" />
    <xsd:element name="link" type="xsd:string" />
    <xsd:element name="image" type="xsd:string" />
    <xsd:element name="meta" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="info_field">
  <xsd:sequence>
    <xsd:element name="field" type="xsd:string" />
    <xsd:element name="items">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="info_item" type="info_item" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="user_info">
  <xsd:sequence>
    <xsd:element name="title" type="xsd:string" />
    <xsd:element name="type" type="xsd:int" />
    <xsd:element name="info_fields">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="info_field" type="info_field" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="custom_tag_parameter">
  <xsd:sequence>
    <xsd:element name="name" type="xsd:string" />
    <xsd:element name="custom_tag_parameter_type" type="xsd:string" />
    <xsd:element name="description" type="xsd:string" />
    <xsd:element name="default_value" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="custom_tag">
  <xsd:sequence>
    <xsd:element name="name" type="xsd:string" />
    <xsd:element name="type" type="xsd:int" />
    <xsd:element name="summary" type="xsd:string" />
    <xsd:element name="description" type="xsd:string" />
    <xsd:element name="parameter">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="custom_tag_parameter" type="custom_tag_parameter" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="body" type="xsd:string" />
    <xsd:element name="open_tag" type="xsd:string" />
    <xsd:element name="close_tag" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="dashboard_bundle">
  <xsd:sequence>
    <xsd:element name="message" type="xsd:string" />
    <xsd:element name="action_link" type="action_link" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="dashboard_activity">
  <xsd:sequence>
    <xsd:element name="image" type="xsd:string" />
    <xsd:element name="activity">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="dashboard_bundle" type="dashboard_bundle" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="fbid" type="fbid" />
    <xsd:element name="time" type="xsd:int" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="dashboard_news">
  <xsd:sequence>
    <xsd:element name="image" type="xsd:string" />
    <xsd:element name="news">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="dashboard_bundle" type="dashboard_bundle" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="fbid" type="fbid" />
    <xsd:element name="time" type="xsd:int" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="privacy">
  <xsd:sequence>
    <xsd:element name="description" type="xsd:string" />
    <xsd:element name="value" type="xsd:string" />
    <xsd:element name="friends" type="xsd:string" />
    <xsd:element name="networks">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="networks_elt" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="allow">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="allow_elt" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="deny">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="deny_elt" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="stream_comments">
  <xsd:sequence>
    <xsd:element name="can_remove" type="xsd:boolean" />
    <xsd:element name="can_post" type="xsd:boolean" />
    <xsd:element name="count" type="xsd:int" />
    <xsd:element name="comment_list">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="comment" type="comment" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="stream_likes">
  <xsd:sequence>
    <xsd:element name="href" type="xsd:string" />
    <xsd:element name="count" type="xsd:int" />
    <xsd:element name="sample">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="uid" type="uid" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="friends">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="uid" type="uid" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="user_likes" type="xsd:boolean" />
    <xsd:element name="can_like" type="xsd:boolean" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="stream_video">
  <xsd:sequence>
    <xsd:element name="display_url" type="xsd:string" />
    <xsd:element name="source_url" type="xsd:string" />
    <xsd:element name="owner" type="uid" />
    <xsd:element name="permalink" type="xsd:string" />
    <xsd:element name="preview_img" type="xsd:string" />
    <xsd:element name="source_type" type="xsd:string" />
    <xsd:element name="created_time" type="time" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="stream_photo">
  <xsd:sequence>
    <xsd:element name="aid" type="aid" />
    <xsd:element name="pid" type="pid" />
    <xsd:element name="owner" type="uid" />
    <xsd:element name="index" type="xsd:int" />
    <xsd:element name="width" type="xsd:int" />
    <xsd:element name="height" type="xsd:int" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="stream_swf">
  <xsd:sequence>
    <xsd:element name="source_url" type="xsd:string" />
    <xsd:element name="preview_img" type="xsd:string" />
    <xsd:element name="flash_vars" type="xsd:string" />
    <xsd:element name="width" type="xsd:int" />
    <xsd:element name="height" type="xsd:int" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="stream_music">
  <xsd:sequence>
    <xsd:element name="source_url" type="xsd:string" />
    <xsd:element name="title" type="xsd:string" />
    <xsd:element name="artist" type="xsd:string" />
    <xsd:element name="album" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="stream_media">
  <xsd:sequence>
    <xsd:element name="href" type="xsd:string" />
    <xsd:element name="alt" type="xsd:string" />
    <xsd:element name="type" type="xsd:string" />
    <xsd:element name="src" type="xsd:string" />
    <xsd:element name="video" type="stream_video" />
    <xsd:element name="obj" type="xsd:string" />
    <xsd:element name="music" type="stream_music" />
    <xsd:element name="data" type="xsd:string" />
    <xsd:element name="photo" type="stream_photo" />
    <xsd:element name="swf" type="stream_swf" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="stream_property">
  <xsd:sequence>
    <xsd:element name="name" type="xsd:string" />
    <xsd:element name="text" type="xsd:string" />
    <xsd:element name="href" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="stream_attachment">
  <xsd:sequence>
    <xsd:element name="media">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="stream_media" type="stream_media" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="name" type="xsd:string" />
    <xsd:element name="href" type="xsd:string" />
    <xsd:element name="caption" type="xsd:string" />
    <xsd:element name="description" type="xsd:string" />
    <xsd:element name="properties">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="stream_property" type="stream_property" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="icon" type="xsd:string" />
    <xsd:element name="fb_object_type" type="xsd:string" />
    <xsd:element name="fb_object_id" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="stream_app_data">
  <xsd:sequence>
    <xsd:element name="tbid" type="xsd:long" />
    <xsd:element name="attachment_data" type="xsd:string" />
    <xsd:element name="images" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="stream_post">
  <xsd:sequence>
    <xsd:element name="post_id" type="post_id" />
    <xsd:element name="viewer_id" type="uid" />
    <xsd:element name="view" type="xsd:string" />
    <xsd:element name="source_id" type="uid" />
    <xsd:element name="type" type="xsd:string" />
    <xsd:element name="app_id" type="xsd:long" />
    <xsd:element name="attribution" type="xsd:string" />
    <xsd:element name="actor_id" type="uid" />
    <xsd:element name="target_id" type="uid" />
    <xsd:element name="message" type="xsd:string" />
    <xsd:element name="attachment" type="stream_attachment" />
    <xsd:element name="app_data" type="stream_app_data" />
    <xsd:element name="action_links">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="stream_action_link" type="stream_action_link" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="comments" type="stream_comments" />
    <xsd:element name="likes" type="stream_likes" />
    <xsd:element name="privacy" type="privacy" />
    <xsd:element name="updated_time" type="time" />
    <xsd:element name="created_time" type="time" />
    <xsd:element name="tagged_ids">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="id" type="id" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="is_hidden" type="xsd:boolean" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="photo_feedback">
  <xsd:sequence>
    <xsd:element name="pid" type="pid" />
    <xsd:element name="comments" type="stream_comments" />
    <xsd:element name="likes" type="stream_likes" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="connection">
  <xsd:sequence>
    <xsd:element name="source_id" type="xsd:long" />
    <xsd:element name="target_id" type="xsd:long" />
    <xsd:element name="is_following" type="xsd:boolean" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="stream_data">
  <xsd:sequence>
    <xsd:element name="posts">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="stream_post" type="stream_post" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="profiles">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="profile" type="profile" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="albums">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="album" type="album" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="photo_tags">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="photo_tag" type="photo_tag" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="photo_feedback">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="photo_feedback" type="photo_feedback" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="connections">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="connection" type="connection" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="stream_filter">
  <xsd:sequence>
    <xsd:element name="uid" type="uid" />
    <xsd:element name="filter_key" type="xsd:string" />
    <xsd:element name="name" type="xsd:string" />
    <xsd:element name="rank" type="xsd:int" />
    <xsd:element name="icon_url" type="xsd:string" />
    <xsd:element name="is_visible" type="xsd:boolean" />
    <xsd:element name="type" type="xsd:string" />
    <xsd:element name="value" type="xsd:long" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="link_stat">
  <xsd:sequence>
    <xsd:element name="url" type="xsd:string" />
    <xsd:element name="share_count" type="xsd:long" />
    <xsd:element name="like_count" type="xsd:long" />
    <xsd:element name="comment_count" type="xsd:long" />
    <xsd:element name="total_count" type="xsd:long" />
    <xsd:element name="click_count" type="xsd:long" />
    <xsd:element name="normalized_url" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="fql_result">
  <xsd:sequence>
    <xsd:element name="name" type="xsd:string" />
    <xsd:element name="fql_result_set" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="translation">
  <xsd:sequence>
    <xsd:element name="native_string" type="xsd:string" />
    <xsd:element name="description" type="xsd:string" />
    <xsd:element name="native_hash" type="xsd:string" />
    <xsd:element name="translation" type="xsd:string" />
    <xsd:element name="locale" type="xsd:string" />
    <xsd:element name="approval_status" type="xsd:string" />
    <xsd:element name="pre_hash_string" type="xsd:string" />
    <xsd:element name="best_string" type="xsd:string" />
    <xsd:element name="is_translatable" type="xsd:int" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="translation_info">
  <xsd:sequence>
    <xsd:element name="translation" type="xsd:string" />
    <xsd:element name="status" type="xsd:string" />
    <xsd:element name="description" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="locale_string">
  <xsd:sequence>
    <xsd:element name="native_string" type="xsd:string" />
    <xsd:element name="translations">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="translation_info" type="translation_info" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="locale_data">
  <xsd:sequence>
    <xsd:element name="locale" type="xsd:string" />
    <xsd:element name="strings">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="locale_string" type="locale_string" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="message">
  <xsd:sequence>
    <xsd:element name="message_id" type="message_id" />
    <xsd:element name="author_id" type="uid" />
    <xsd:element name="body" type="xsd:string" />
    <xsd:element name="created_time" type="time" />
    <xsd:element name="attachment" type="stream_attachment" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="thread">
  <xsd:sequence>
    <xsd:element name="thread_id" type="thread_id" />
    <xsd:element name="subject" type="xsd:string" />
    <xsd:element name="recipients">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="uid" type="uid" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="updated_time" type="time" />
    <xsd:element name="parent_message_id" type="message_id" />
    <xsd:element name="parent_thread_id" type="thread_id" />
    <xsd:element name="message_count" type="xsd:int" />
    <xsd:element name="snippet" type="xsd:string" />
    <xsd:element name="snippet_author" type="uid" />
    <xsd:element name="object_id" type="id" />
    <xsd:element name="unread" type="xsd:boolean" />
    <xsd:element name="messages">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="message" type="message" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="mailbox_folder">
  <xsd:sequence>
    <xsd:element name="folder_id" type="xsd:int" />
    <xsd:element name="name" type="xsd:string" />
    <xsd:element name="unread_count" type="xsd:int" />
    <xsd:element name="total_count" type="xsd:int" />
    <xsd:element name="viewer_id" type="uid" />
  </xsd:sequence>
</xsd:complexType>

<xsd:element name="auth_createToken_response" type="auth_token" />

<xsd:element name="auth_getSession_response" type="session_info" />

<xsd:element name="auth_promoteSession_response" type="session_secret" />

<xsd:element name="auth_expireSession_response" type="xsd:boolean" />

<xsd:element name="auth_revokeExtendedPermission_response" type="xsd:boolean" />

<xsd:element name="auth_revokeAuthorization_response" type="xsd:boolean" />

<xsd:element name="auth_getAppPublicKey_response" type="xsd:string" />

<xsd:element name="auth_getSignedPublicSessionData_response" type="public_session_data" />

<xsd:element name="auth_renewOfflineSession_response" type="session_key" />

<xsd:element name="connect_getUnconnectedFriendsCount_response" type="xsd:int" />

<xsd:element name="connect_registerUsers_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="connect_registerUsers_response_elt" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="connect_unregisterUsers_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="connect_unregisterUsers_response_elt" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="migrations_getStatuses_response" type="container" />

<xsd:element name="migrations_setStatus_response" type="xsd:boolean" />

<xsd:element name="dashboard_addGlobalNews_response" type="fbid" />

<xsd:element name="dashboard_addNews_response" type="fbid" />

<xsd:element name="dashboard_clearGlobalNews_response" type="container" />

<xsd:element name="dashboard_clearNews_response" type="container" />

<xsd:element name="dashboard_decrementCount_response" type="xsd:boolean" />

<xsd:element name="dashboard_getActivity_response" type="container" />

<xsd:element name="dashboard_getCount_response" type="xsd:int" />

<xsd:element name="dashboard_getGlobalNews_response" type="container" />

<xsd:element name="dashboard_getNews_response" type="container" />

<xsd:element name="dashboard_incrementCount_response" type="xsd:boolean" />

<xsd:element name="dashboard_multiAddNews_response" type="container" />

<xsd:element name="dashboard_multiClearNews_response" type="container" />

<xsd:element name="dashboard_multiDecrementCount_response" type="container" />

<xsd:element name="dashboard_multiGetCount_response" type="container" />

<xsd:element name="dashboard_multiGetNews_response" type="container" />

<xsd:element name="dashboard_multiIncrementCount_response" type="container" />

<xsd:element name="dashboard_multiSetCount_response" type="container" />

<xsd:element name="dashboard_publishActivity_response" type="fbid" />

<xsd:element name="dashboard_removeActivity_response" type="container" />

<xsd:element name="dashboard_setCount_response" type="xsd:boolean" />

<xsd:element name="events_get_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="event" type="event" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="events_getMembers_response" type="event_members" />

<xsd:element name="events_rsvp_response" type="xsd:boolean" />

<xsd:element name="events_create_response" type="eid" />

<xsd:element name="events_edit_response" type="xsd:boolean" />

<xsd:element name="events_cancel_response" type="xsd:boolean" />

<xsd:element name="notes_get_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="note" type="note" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="notes_create_response" type="note_id" />

<xsd:element name="notes_edit_response" type="xsd:boolean" />

<xsd:element name="notes_delete_response" type="xsd:boolean" />

<xsd:element name="status_set_response" type="xsd:boolean" />

<xsd:element name="status_get_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="user_status" type="user_status" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="stream_get_response" type="stream_data" />

<xsd:element name="stream_getFilters_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="stream_filter" type="stream_filter" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="stream_getComments_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="comment" type="comment" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="stream_sethidden_response" type="xsd:boolean" />

<xsd:element name="links_preview_response" type="stream_attachment" />

<xsd:element name="links_post_response" type="link_id" />

<xsd:element name="links_get_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="link" type="link" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="links_getStats_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="link_stat" type="link_stat" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="comments_get_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="comment" type="comment" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="comments_add_response" type="comment_id" />

<xsd:element name="comments_remove_response" type="xsd:boolean" />

<xsd:element name="stream_publish_response" type="xsd:string" />

<xsd:element name="stream_remove_response" type="xsd:boolean" />

<xsd:element name="stream_addComment_response" type="xsd:long" />

<xsd:element name="stream_removeComment_response" type="xsd:boolean" />

<xsd:element name="stream_addLike_response" type="xsd:boolean" />

<xsd:element name="stream_removeLike_response" type="xsd:boolean" />

<xsd:element name="fbml_setRefHandle_response" type="xsd:boolean" />

<xsd:element name="fbml_refreshRefUrl_response" type="xsd:boolean" />

<xsd:element name="fbml_refreshImgSrc_response" type="xsd:boolean" />

<xsd:element name="fbml_uploadNativeStrings_response" type="xsd:boolean" />

<xsd:element name="fbml_registerCustomTags_response" type="xsd:boolean" />

<xsd:element name="fbml_getCustomTags_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="custom_tag" type="custom_tag" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="fbml_deleteCustomTags_response" type="xsd:boolean" />

<xsd:element name="feed_publishStoryToUser_response" type="xsd:boolean" />

<xsd:element name="feed_publishActionOfUser_response" type="xsd:boolean" />

<xsd:element name="friends_areFriends_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="friend_info" type="friend_info" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="friends_get_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="uid" type="uid" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="friends_getMutualFriends_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="uid" type="uid" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="friends_getAppUsers_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="uid" type="uid" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="friends_getLists_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="friendlist" type="friendlist" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="friends_createList_response" type="friendlist" />

<xsd:element name="groups_get_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="group" type="group" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="groups_getMembers_response" type="group_members" />

<xsd:element name="intl_getTranslations_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="locale_data" type="locale_data" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="intl_uploadNativeStrings_response" type="xsd:boolean" />

<xsd:element name="intl_setInlineMode_response" type="xsd:boolean" />

<xsd:element name="privacy_canSee_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="privacy_canSee_response_elt" type="xsd:boolean" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="privacy_set_response" type="xsd:boolean" />

<xsd:element name="privacy_get_response" type="privacy" />

<xsd:element name="data_getCookies_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="cookie" type="cookie" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="data_setCookie_response" type="xsd:boolean" />

<xsd:element name="permissions_checkGrantedApiAccess_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="permissions_checkGrantedApiAccess_response_elt" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="permissions_checkAvailableApiAccess_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="permissions_checkAvailableApiAccess_response_elt" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="permissions_grantApiAccess_response" type="xsd:boolean" />

<xsd:element name="permissions_revokeApiAccess_response" type="xsd:boolean" />

<xsd:element name="payments_setProperties_response" type="xsd:boolean" />

<xsd:element name="payments_getOrderDetails_response" type="xsd:string" />

<xsd:element name="payments_updateOrder_response" type="xsd:boolean" />

<xsd:element name="payments_getOrders_response" type="xsd:string" />

<xsd:element name="payments_transfer_response" type="xsd:long" />

<xsd:element name="gifts_get_response" type="xsd:string" />

<xsd:element name="gifts_update_response" type="xsd:string" />

<xsd:element name="fql_query_response">
  <xsd:complexType />
</xsd:element>

<xsd:element name="fql_multiquery_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="fql_result" type="fql_result" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="batch_run_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="batch_run_response_elt" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="liveMessage_send_response" type="xsd:boolean" />

<xsd:element name="notifications_get_response" type="notifications" />

<xsd:element name="notifications_sendEmail_response" type="uid_list" />

<xsd:element name="notifications_getList_response" type="notification_data" />

<xsd:element name="notifications_markRead_response" type="xsd:boolean" />

<xsd:element name="message_createThread_response" type="thread_id" />

<xsd:element name="message_replyToThread_response" type="message_id" />

<xsd:element name="message_branchFromThread_response" type="thread_id" />

<xsd:element name="message_setThreadReadStatus_response" type="xsd:boolean" />

<xsd:element name="message_deleteThread_response" type="xsd:boolean" />

<xsd:element name="message_getThreadsInFolder_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="thread" type="thread" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="photos_get_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="photo" type="photo" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="photos_getAlbums_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="album" type="album" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="photos_getTags_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="photo_tag" type="photo_tag" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="photos_createAlbum_response" type="album" />

<xsd:element name="photos_upload_response" type="photo" />

<xsd:element name="photos_addTag_response" type="xsd:boolean" />

<xsd:element name="video_upload_response" type="video" />

<xsd:element name="video_getUploadLimits_response" type="video_limits" />

<xsd:element name="video_addTag_response" type="xsd:boolean" />

<xsd:element name="video_removeTag_response" type="xsd:boolean" />

<xsd:element name="profile_setFBML_response" type="xsd:boolean" />

<xsd:element name="profile_getFBML_response" type="xsd:string" />

<xsd:element name="profile_setInfo_response" type="xsd:boolean" />

<xsd:element name="profile_getInfo_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="user_info" type="user_info" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="profile_setInfoOptions_response" type="xsd:boolean" />

<xsd:element name="profile_getInfoOptions_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="info_item" type="info_item" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="update_decodeIDs_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="id_map" type="id_map" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="users_getInfo_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="user" type="user" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="users_getStandardInfo_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="user" type="user" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="users_isAppUser_response" type="xsd:boolean" />

<xsd:element name="users_isAppAdded_response" type="xsd:boolean" />

<xsd:element name="users_hasAppPermission_response" type="xsd:boolean" />

<xsd:element name="users_getLoggedInUser_response" type="uid" />

<xsd:element name="users_setStatus_response" type="xsd:boolean" />

<xsd:element name="users_isVerified_response" type="xsd:boolean" />

<xsd:element name="pages_getInfo_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="page" type="page" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="pages_isAdmin_response" type="xsd:boolean" />

<xsd:element name="pages_isFan_response" type="xsd:boolean" />

<xsd:element name="pages_isAppAdded_response" type="xsd:boolean" />

<xsd:element name="pages_blockFan_response" type="xsd:boolean" />

<xsd:element name="data_setUserPreference_response" type="xsd:boolean" />

<xsd:element name="data_setUserPreferences_response" type="xsd:boolean" />

<xsd:element name="data_getUserPreference_response" type="xsd:string" />

<xsd:element name="data_getUserPreferences_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="preference" type="preference" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="data_createObjectType_response" type="xsd:boolean" />

<xsd:element name="data_dropObjectType_response" type="xsd:boolean" />

<xsd:element name="data_renameObjectType_response" type="xsd:boolean" />

<xsd:element name="data_defineObjectProperty_response" type="xsd:boolean" />

<xsd:element name="data_undefineObjectProperty_response" type="xsd:boolean" />

<xsd:element name="data_renameObjectProperty_response" type="xsd:boolean" />

<xsd:element name="data_getObjectTypes_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="object_type_info" type="object_type_info" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="data_getObjectType_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="object_property_info" type="object_property_info" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="data_createObject_response" type="xsd:long" />

<xsd:element name="data_updateObject_response" type="xsd:boolean" />

<xsd:element name="data_deleteObject_response" type="xsd:boolean" />

<xsd:element name="data_deleteObjects_response" type="xsd:boolean" />

<xsd:element name="data_getObject_response" type="container" />

<xsd:element name="data_getObjects_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="data_getObjects_response_elt" type="container" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="data_getObjectProperty_response" type="xsd:string" />

<xsd:element name="data_setObjectProperty_response" type="xsd:boolean" />

<xsd:element name="data_getHashValue_response" type="xsd:string" />

<xsd:element name="data_setHashValue_response" type="xsd:long" />

<xsd:element name="data_incHashValue_response" type="xsd:int" />

<xsd:element name="data_removeHashKey_response" type="xsd:boolean" />

<xsd:element name="data_removeHashKeys_response" type="xsd:boolean" />

<xsd:element name="data_defineAssociation_response" type="xsd:boolean" />

<xsd:element name="data_undefineAssociation_response" type="xsd:boolean" />

<xsd:element name="data_renameAssociation_response" type="xsd:boolean" />

<xsd:element name="data_getAssociationDefinition_response" type="object_assoc_info" />

<xsd:element name="data_getAssociationDefinitions_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="object_assoc_info" type="object_assoc_info" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="data_setAssociation_response" type="xsd:boolean" />

<xsd:element name="data_setAssociations_response" type="xsd:boolean" />

<xsd:element name="data_removeAssociation_response" type="xsd:boolean" />

<xsd:element name="data_removeAssociations_response" type="xsd:boolean" />

<xsd:element name="data_removeAssociatedObjects_response" type="xsd:boolean" />

<xsd:element name="data_getAssociatedObjects_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="object_association" type="object_association" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="data_getAssociatedObjectCount_response" type="xsd:int" />

<xsd:element name="data_getAssociatedObjectCounts_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="data_getAssociatedObjectCounts_response_elt" type="xsd:int" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="data_getAssociations_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="object_association" type="object_association" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="admin_getAppProperties_response" type="xsd:string" />

<xsd:element name="admin_getLiveStreamViaLink_response" type="xsd:string" />

<xsd:element name="admin_setLiveStreamViaLink_response" type="xsd:string" />

<xsd:element name="admin_setAppProperties_response" type="xsd:boolean" />

<xsd:element name="admin_getAllocation_response" type="xsd:int" />

<xsd:element name="admin_banUsers_response" type="xsd:boolean" />

<xsd:element name="admin_unbanUsers_response" type="xsd:boolean" />

<xsd:element name="admin_getBannedUsers_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="uid" type="uid" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="application_getPublicInfo_response" type="app_info" />

<xsd:element name="feed_registerTemplateBundle_response" type="tbid" />

<xsd:element name="feed_publishTemplatizedAction_response" type="xsd:boolean" />

<xsd:element name="feed_getRegisteredTemplateBundles_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="template_bundle" type="template_bundle" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="feed_getRegisteredTemplateBundleByID_response" type="template_bundle" />

<xsd:element name="feed_deactivateTemplateBundleByID_response" type="xsd:boolean" />

<xsd:element name="feed_publishUserAction_response" type="xsd:boolean" />

<xsd:element name="feed_getAppFriendStories_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="feed_story" type="feed_story" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="admin_getMetrics_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="metrics" type="metrics" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="admin_setRestrictionInfo_response" type="xsd:boolean" />

<xsd:element name="admin_getRestrictionInfo_response" type="xsd:string" />

<xsd:element name="error_response" type="FacebookApiException" />

</xsd:schema>
